*
{
    padding:0px;
    margin:0px auto;
    background-color: orange;
}
body
{
width:500px;
margin:30px auto;
color:white;
}
form
{
margin:20px auto;


}
.input,
textarea
{
  margin:3px auto;
    width:100%;
      color:white;    
}
.middle-div
{
    margin-top:30px;
}
.div-Button
{
    height:25px;
    margin-top:30px;
    width:100%;
    color:white;
    background-color:green;
}





